<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [3]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [4]:
data = pd.read_excel(r"C:\Users\hamdi.jarboui\Downloads\Asia_History (2).xlsx")

In [9]:
data.head(10)

              Agent BUSY/ AVAILABLE IN/ OUT
0        xPAD_Gamyi            BUSY      IN
1        xPAD_Varda       AVAILABLE      IN
2         xPAD_FAT3       AVAILABLE     OUT
3    xPAD_Treebeard       AVAILABLE      IN
4       FMUC1000547       AVAILABLE      IN
5       xPAD_Gondor       AVAILABLE      IN
6     xPAD_Denethor            BUSY      IN
7  xpad_fat23_linux       AVAILABLE     OUT
8       xPAD_Gollum       AVAILABLE      IN
9      xPAD_Elendil       AVAILABLE      IN

In [8]:
data.tail()

          Agent BUSY/ AVAILABLE IN/ OUT
88   xPAD_Arwen       AVAILABLE      IN
89   xPAD_Grima       AVAILABLE      IN
90   xPAD_FAT28       AVAILABLE      IN
91  FMUC1000569       AVAILABLE     OUT
92   xPAD_FAT19            BUSY      IN

In [7]:
data['IN/ OUT'].replace("IN","IINNNNNNNNNNN")

0     IINNNNNNNNNNN
1     IINNNNNNNNNNN
2               OUT
3     IINNNNNNNNNNN
4     IINNNNNNNNNNN
          ...
88    IINNNNNNNNNNN
89    IINNNNNNNNNNN
90    IINNNNNNNNNNN
91              OUT
92    IINNNNNNNNNNN
Name: IN/ OUT, Length: 93, dtype: object

1) plot the first three rows:

In [3]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

2) obtain column  <code> 'a' </code>

In [4]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

In [7]:
df.iloc[1,0]

21

In [10]:
df.ix[1,0]

C:\Users\abuzar.rizvi\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

21

In [11]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>